#container {
  width: 1440px;
  height: 900px;
  margin: 0px auto;
  background-color: lightgrey;
  /*display: inline-block;*/
}
#screen {
  width: 1340px;
  height: 700px;
  margin: 0px auto;
  background-color: black;
  padding-top: 200px;
  background-size: cover;
  /*display: inline-block;*/
}
#selection-area {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  background-color: grey;
  border-radius: 20px;
  border: 10px solid lightgrey;
  /*display: inline-block;*/
}
h2 {
  color: yellow;
  margin-left: 77px;
}
button {
  height: 40px;
  width: 91px;
  display: inline-block;
  vertical-align: top;
  margin: 6px 3px;

}

select{
  margin-left: 40px;
}
